<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <app-trivia-test></app-trivia-test>

  <!-- Spacer to create scroll space -->
  <div style="height: 700px;"></div>

  <!-- Session History button placed lower -->
  <ion-button expand="block" color="medium" [routerLink]="['/session-history']">
    View Session History
  </ion-button>
  
</ion-content>
