<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name=""></app-explore-container>
  <p class="center">Welcome!</p>

  <h2 class="center">Task Completion Chart</h2>
  <canvas #pieCanvas></canvas>
  
  <!-- Spacer to create scroll space -->
  <div style="height: 700px;"></div>

  <!-- Session History button placed lower -->
  <ion-button expand="block" color="medium" [routerLink]="['/session-history']">
    View Session History
  </ion-button>
</ion-content>
