<!--<div class="dashboard-container" *ngIf="user(); else loading">-->
<div class="dashboard-container">
    <h2>Welcome, {{ user()?.email }}</h2>

    <!---<div class="card">
        <p>You’re successfully logged in! 🎉</p>
    </div>--->

    <h2 class="center">Task Completion Chart</h2>

    <div class="chart-container">
        <canvas #pieCanvas></canvas>
        
    </div>

    <button (click)="logout()">Logout</button>

    <div class="actions">
        <ion-button routerLink="/task-list" color="primary">
            Task List
        </ion-button>
        <ion-button routerLink="/pomodoro" color="primary">
            Pomodoro
        </ion-button>
        <ion-button routerLink="/calendar" color="primary">
            Calendar
        </ion-button>
        <ion-button routerLink="/session-history" color="primary">
            Session History
        </ion-button>
        <ion-button color="primary" (click)="recommendNextTask()">
            Recommend Next Task
        </ion-button>
        <!-- Dev-only: force show weekly recap -->
        <ion-button color="warning" (click)="showWeeklyRecapNow()">
            Show recap now
            (For Dev, Remove later)
        </ion-button>
    </div>


</div>

<ng-template #loading>
    <p class="loading">Loading user information...</p>
</ng-template>